body {
    background-color: white;
    font-size: 11pt;
    color: #404040;
    font-family: Georgia, Garamond, serif;
    background-image: url(../images/silverware.jpg);
    background-attachment: fixed;
}
.heading {
    color:#A4A400;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-erif ;
    text-decoration: underline;
    font-weight: normal;
    font-size: 18pt;
    text-align: left;
    letter-spacing: 0.25em;
}
header > h2.heading {
    font-weight: bold;
    font-size: 22pt;
    text-align: center;
}
.heading span {
    background-color: #F0F0F0 ;
}
a {
    color: #A4A400;
}
ul > li {
    list-style-image: url(../images/pie_icon.gif);
}
div#pie > ul {
    padding: 0;
}
div#pie > ul >li {
    list-style-type: none;
    list-style-image: none;
}
abbr {
    text-decoration: underline;
}
#cut {
    text-decoration: line-through;
}
footer > div {
    text-align: right;
}
footer > div:last-child{
    font-family: monospace;
}
.highlight{
    font-weight: bold;
}
#usercomments > div {
    background-color: #FFFFA8;
    margin: 5px 40px;
}
#usercomments > div > p {
    font-style: italic;
}